.dropdown-item:focus,
.dropdown-item:hover {
  color: #16181b;
  text-decoration: none;
  background-color: #aceaf7;
}

a:hover {
  color: #17a2b8;
  text-decoration: underline;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: .25rem 1.5rem;
  clear: both;
  font-weight: 400;
  font-size: 20px;
  color: #343a40;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.btn-outline-info {
  color: #17a2b8;
  border-color: #17a2b8;
  /* color: white; */
  background-color: transparent;
  background-image: none;
}